<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>

<body>
    <% if(todaysDay==="Saturday" || todaysDay==="Sunday" ){ %>
        <h1 style="color: burlywood;">Today is <%= todaysDay %>
        </h1>
    <% } else { %>
    <h1 style="color: brown;">Today is <%= todaysDay %>
    </h1>
    <% } %>

    <ul>
        <% for( let index = 0; index < itemsAdded.length; index++ ) { %>
            <li> <%= itemsAdded[index] %> </li>
        <% } %> 
    </ul>
    
    <form action="/" method="post">
        <input type="text" name="item" id="" placeholder="Enter the item to be added" autofocus>
        <button type="submit">Add</button>
    </form>
    
</body>

</html>